<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mainproject.vishnu_neelancheri.lottery">

    <application
        android:name=".LotteryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".add_view_user.AddUserActivity" />
        <activity android:name=".add_view_user.ViewCustomerActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".settings.NewSettingsActivity" />
        <activity android:name=".cash_in.CashInActivity" />
        <activity android:name=".settings.ViewAllSettingsActivity" />
        <activity android:name=".cash_withdrawal.CashWithdrawalActivity"></activity>
    </application>

</manifest>